# repo
build
temp
package.zip
.env
.test.yaml
.vscode
test/data/*
output

# venv
env
venv
.env
.venv

# python
__pycache__
.pytest_cache
*.pyc
.ipynb_checkpoints/
.DS_Store
.idea
.idea/*
*.code-workspace
.python-version

# tests
.coverage
.coverage.*
coverage.xml

*metadata/*.json
*images/*.png
